@model IEnumerable<MovieListViewModel>

<h1>Movie List</h1>
<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="movie" asp-action="detail" asp-route-id="@item.Id">@item.Title</a></li>
    }
</ul>
<p><a asp-controller="movie" asp-action="create">create</a></p>